:host{
    .header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 55px;
        z-index: 99;
		background-color: #422912;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		p{
			display: block;
            // position: absolute;
            // top: 15px;
            // right: 156px;
            color: white;
            font-size: 17px;
            font-family: Poppins;
            font-weight: bold;
            letter-spacing: 4px;
            padding: 0px;
			// margin: 4% 31%;
			// margin-top: 4%;
        }
	}
	.image {
		background-image: radial-gradient(rgb(202, 202, 202), rgb(223, 223, 223), rgb(235, 235, 235));
		text-align: center;
		margin-top: 15%;
		padding: 7% 0;
		position: relative;
		.media-container {
			position: relative;
			display: inline-block;
			margin: auto;
			border-radius: 50%;
			overflow: hidden;
			width: 200px;
			height: 200px;
			vertical-align: middle
		}
		.media-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(180, 180, 180, 0.6);
		}
			#media-input {
				display: block;
				width: 200px;
				height: 200px;
				line-height: 200px;
				opacity: 0;
				position: relative;
				z-index: 9;
			}
			.media-icon {
				display: block;
				color: #ffffff;
				font-size: 2em;
				height: 200px;
				line-height: 200px;
				position: absolute;
				z-index: 0;
				width: 100%;
				text-align: center;
			}
		.media-object {}
			.img-object {
				border-radius: 50%;
				width: 200px;
				height: 200px;
				display: block;
			}
		.pimg{
			margin-top: 18px;
			font-family: Poppins;
			font-size: 2.5em;
			color: rgb(83, 83, 83);
		}
		
	}
	.footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        height: 55px;
        box-shadow: 0 -25px 100px -15px #777;
    }
}

.mobile{
	animation: .5s  fadein;
}

* { box-sizing:border-box; }

body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }
form {
	font-family: Poppins;
	// width: 380px;
	margin: 0 0 15% 0;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	.media-control{
		margin-top: 40px;
		text-align: center;
		button{
			border: none;
			width: 85%;
			height: 55px;
			text-align: center;
			font-size: 3.5em;
			border-radius: 25px;
			font-family: Poppins;
			color: white;
		}
		.edit-profile{
			background-color: rgb(206, 153, 74);
		}
		.edit-profile:active {
			animation: .5s bounce;
		}
		.save-profile{
			background-color: rgb(60, 192, 60);
		}
		button:disabled,
		button[disabled] {
			border: none;
			background-color: #cccccc !important;
			color: #666666;
		}
		button:enabled{
    		animation: .5s bounce;
		}
	}
}
p{
	display: none;
}
.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #aa6334;
	// display: block;
}
.lbl{
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #aa6334;
	// display: block;
}
/* Underline */

.bar {
    
	position: relative;
	display: block;
	width: 100%;
}
.errortagp{
	display: inline;
	color:red;
}
.ErrorLabel{
	color: red;
}
.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #ca7a38; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 45%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  //text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}
#btnSignIn:hover{
	background-color: white;
}
.buttonBlue:hover { background: #357bd8; }

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
small{
	margin: 0px;
	position: relative;
	width: 100px;
	left: 50%;
	height: 20px;
	.pBack{
		position: absolute;
		top:50px;
		left:80px;
		padding-bottom: 20%;	
		width: 100px;
		display: inline;
		font-size: 16px;
		//margin-bottom: 20px;
		color: #636363;
		font-family: Helvetica;
	}
	
}
.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

// animation: 2s  fadein;
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes bounce {
	0% {
		transform: scale(.2);
	}
	10% {
		transform: scale(.3);
	}
	20% {
		transform: scale(.4);
	}
	52% {
		transform: scale(.3);
	}
	100% {
		transform: scale(.2);
	}
}

  .show {
	  margin-top: 20px;
  }
  .hide {
	  margin-top: 0px;
  }