<div class="mobile">
  <header class="header">
    <p>User Profile</p>
    
  </header>
  <main>
    <div class="image">
      <div class="media-container">
        <span class="media-overlay">
          <input (change)="upload($event)" type="file" id="media-input" accept="image/*">
          <i class="glyphicon glyphicon-edit media-icon"></i>
        </span>
        <figure class="media-object">
          <img class="img-object" src="{{dataUserObj.Avartar}}" alt="No-Image">
        </figure>
      </div>
      <h2 class="pimg">{{dataUserObj.UserName | uppercase}}</h2>
      <p></p>
    </div>

    <form #EditForm="ngForm" (ngSubmit)="EditForm.valid && onSubmit(EditForm)">
      <h1 style="margin-bottom: 7%;">YOUR PROFILE</h1>
      <div class="group">
        <input id="username" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="dataUserObj.UserName" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="lbl" [ngClass]="{'ErrorLabel': EditForm.submitted && !UserName.valid}">User Name</label>
        <div *ngIf="UserName.invalid && (UserName.dirty || UserName.touched)">
          <span style="color: red;" *ngIf="UserName.errors.required" class="error">USER NAME PLEASE :-I</span>
        </div>
      </div>

      <div class="group">
        <input type="text" name="EmployeeName" #EmployeeName="ngModel" [(ngModel)]="dataUserObj.EmployeeName" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="lbl" [ngClass]="{'ErrorLabel': EditForm.submitted && !EmployeeName.valid}">Name</label>
        <div *ngIf="EmployeeName.invalid && (EmployeeName.dirty || EmployeeName.touched)">
          <span style="color: red;" *ngIf="EmployeeName.errors.required" class="error">Name is required</span>
        </div>
      </div>

      <div class="group">
        <input type="email" name="EmployeeEmail" #EmployeeEmail="ngModel" [pattern]="emailRegex" [(ngModel)]="dataUserObj.Email"
          required>
        <span class="highlight"></span><span class="bar"></span>
        <label class="lbl" [ngClass]="{'ErrorLabel': EditForm.submitted && !EmployeeEmail.valid}">Email</label>
        <div *ngIf="EmployeeEmail.invalid && (EmployeeEmail.dirty || EmployeeEmail.touched)">
          <span style="color: red;" *ngIf="EmployeeEmail.errors.required" class="error">Email is required</span>
          <span style="color: red;" *ngIf="EmployeeEmail.errors.pattern" class="error">Sai định dạng email</span>
        </div>
      </div>

      <div class="group">
        <input type="number" name="EmployeePhone" #EmployeePhone="ngModel" [(ngModel)]="dataUserObj.PhoneNumber"
          required minlength=10>
        <span class="highlight"></span><span class="bar"></span>
        <label class="lbl" [ngClass]="{'ErrorLabel': EditForm.submitted && !EmployeePhone.valid}">Phone number</label>
        <!-- <p [ngClass]="{'errortagp': EditForm.submitted && password.errors.minlength }">Password ít nhất 4 kí tự</p> -->
        <div *ngIf="EmployeePhone.invalid && (EmployeePhone.dirty || EmployeePhone.touched)">
          <span style="color: red;" *ngIf="EmployeePhone.errors.required" class="error">Phone number is required</span>
          <span style="color: red;" *ngIf="EmployeePhone.errors.minlength" class="error">Phone number must be atleast 10
            characters</span>
        </div>
      </div>

      <!-- <div class="group">
        <input id="pass" type="password" name="Password" #Password="ngModel" [(ngModel)]="dataUserObj.Password"
          required minlength=6>
        <span class="highlight"></span><span class="bar"></span>
        <label class="lbl" [ngClass]="{'ErrorLabel': EditForm.submitted && !Password.valid}">Password</label>
        <div *ngIf="Password.invalid && (Password.dirty || Password.touched)">
          <span style="color: red;" *ngIf="Password.errors.required" class="error">Password is required</span>
          <span style="color: red;" *ngIf="Password.errors?.minlength" class="error">Password must be atleast 6
            characters</span>
        </div>
      </div> -->
      <div class="media-control">
        <button type="button" class="edit-profile" (click)='edit()'><i class="far fa-edit" style="color: white"></i> Edit</button>
        <button [disabled]="!EditForm.valid" type="submit" class="save-profile" (click)='done()'><i class="far fa-check-circle" style="color: white"></i> Done</button>
        <!-- <button type="button" class="edit-profile"><i class="far fa-add" style="color: white"></i> Add</button> -->
      </div>
    </form>
  </main>
  <footer class="footer">
      <app-bottom-detail></app-bottom-detail>
  </footer>
</div>