// @font-face{
//     font-family: 'Alina';
//     src: url('../../../assets/fonts/iCielAlina.otf');
//     font-style: normal;
//     font-weight: 100;
// }
.home{
    background-color: #f2f2f8;
    animation: .5s fadein;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    background-color: #422912;
    p{
        // position: absolute;
        // top: 15px;
        // right: 156px;
        color: white;
        font-size: 17px;
        font-family: Poppins;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 0px;
        margin: 0px;
    }
    .i2{
        // position: absolute;
        // top: 12px;
        // right: 16.53px;
        color: white;
        // size: 20px;
    }
    .i1{
        // position: absolute;
        // top: 12px;
        // left: 33px;
        color: white;
    }
}
.noti{
    width: 100%;
    background-color: #c8b496;
    color: white;
    padding-top: 15px
}
main{
    margin-bottom: 55px;
}
.grid{
    margin-bottom:55px ;
}
.createBill{
    display: flex;
    
}
footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #422912;
    z-index: 99;
    display: flex;
    justify-content:space-between;
}
.show{
    width: 100%;
    position: fixed;
    bottom: 60px;
    transition: 1s all ease-in-out;
}
.notshow{
    width: 100%;
    position: fixed;
    bottom: -500px;
    transition: 1s all ease-in-out;
}
.order{
    // float: right;
    height: 100%;
    padding: 0 12%;
    background-color: #c8b496;
    border: 1.5px solid #422912;
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 12pt;
}
.close-bill{
    position: fixed;
    z-index: 99;
    bottom: 200px;
    right: 0px;
}
.cart{
    display: flex;
    align-items: center;
    position: relative;
    p{
        position: absolute;
        top: 0;
        background-color: white;
        color: #422912 !important;
        right: -36px;
        padding: 3px 10px;
        border: 1px solid;
        border-radius: 22px;
    }
}
.billOut{
    height: 500px;
    // position: relative;
}
.btnup{
    padding: 0 8px;
    background: no-repeat;
    border: none;
}
.modal-content{
    position: relative;
    bottom: -122px;
    // top: 120px;
    margin: 150px auto 0;
    padding: 40px;
    // max-width: 60%;
    height: auto;
    background-color: rgb(248, 250, 247);
    border: 1px solid #BEBEBE;
    // opacity: 0;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

// animation: 2s  fadein;
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}