<section class="home">
  <div class="mobile">
    <header>
      <i class="i1 fas fa-long-arrow-alt-left fa-2x" (click)='table()'></i>
      <p>ORDER</p>
      <i class="i2 far fa-bell fa-2x"></i>
  </header>
    <main>
      <section class="noti">
        <app-notitable></app-notitable>
      </section>
      <section class="chooselist">
        <app-chooselist></app-chooselist>
      </section>
    </main>
    <footer>
      <div class="cart">
        <img src="../../../../assets/Assets_new/order - grey@2x.png" style="transform: scale(.8);" ><p style="color: white; font-size: 12pt;">{{numProducts}}</p>
      </div>
     <div class="createBill">
      <button (click)='getProductFromService()' class="btnup" data-toggle="modal" data-target="#exampleModalCenter" mat-button><img src="../../../../assets/img/up-arrow.png" alt=""></button>
      <button class="order" (click)='orderdetail()' >Order Now</button>
     </div>
    </footer>
  </div>
  <!-- tablet -->
  <div class="tablet">
    <main>
      <!-- <section class="chooselist">
        <app-chooselist></app-chooselist>
      </section> -->
    </main>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <app-bill [products]="products"></app-bill>
  </div>
</section>
