
input, button:focus{
    outline: none;
}
@media all and (min-width:767px){
    .tablet{
        display: none !important;
    }
    .mobile{
        display: block;
    }
    .login{
//     background-image: url('../../../assets/img/background.jpg');
//     height: 100vh;
//     background-size: cover;
//     background-position: center;
//     overflow: hidden;
        background: url('../../../assets/img/annie-spratt-277569-unsplash.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .content{
        width: 25%;
        @media (min-width:768px) and (max-width:1366px) {
          padding: 10px;
        }
    }
    .bnt-login{
        width: 100%;
        margin: 40% 0 0;
        padding: 10pt;
        border: 0px;
        border-radius:22pt;
        color: #ffffff;
        background-color: #422912;
    }
}
.login {
    animation: 3s  fadein;
    // background: url('../../../assets/img/nathan-dumlao-492751-unsplash.jpg');
    // background-size: cover;
    // background-position: center;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.logo {
    display: flex;
    margin: auto;
}
.text{
    text-align: center;
}
.text > p:nth-child(1){
    color: #422912;
    font-size: 2.7em;
    font-weight: bold;
}
.text > p:nth-child(2){
    color: #b8b6b6;
    font-size: 1.6em;
}
.logo > img {
    margin: auto;
}
.content{
    // width: 90%;
    // margin: 10% auto;
    background-color: white;
}
.box-inp{
    width: 80%;
    margin: 20px auto 0;
}
.box-inp > label{
    font-family: 'Poppins';
    font-size: 1.25em;
    color: #422912;
    font-weight: bolder;
    letter-spacing: .3em;
}
.box-inp > input{
    height: 30px;
    width: 100%;
    border: 0px;
    border-bottom:1pt solid #b8b6b6; 
    color: #b8b6b6;
}
.bnt-login{
    width: 100%;
    margin: 40% 0 0;
    padding: 11pt;
    border: none;
    font-size: 1.6em;
    font-weight: 600;
    color: #ffffff;
    background-color: #422912;
    border-radius: 30px;
}
button:disabled,
button[disabled] {
  border: none;
  background-color: #cccccc !important;
  color: #666666;
}

button:enabled,
button[enabled] {
    animation: 2s bounce;
}

// animation: 2s  fadein;
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


// tablet
// .tablet{
//     background-image: url('../../../assets/img/background.jpg');
//     height: 100vh;
//     background-size: cover;
//     background-position: center;
//     overflow: hidden;
   
// }
#username{
    background: white url(../../../assets/Assets_new/user.png) right no-repeat;
}
#password{
    background: white url(../../../assets/Assets_new/key.png) right no-repeat;
}


@keyframes bounce {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(.96);
    }
    20% {
      transform: scale(1.04);
    }
    52% {
       transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }


//   Loader
.divloader {
    background: rgb(109, 96, 76);
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    // background: #666666;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 7px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 7px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 7px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }