<!-- mobile -->
<!-- <section class="mobile"> -->
  <div class="divloader">
    <div class="loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
    </div>
  </div>
  <section class="login">
    <div class="content">
      <div class="logo">
        <img src="../../../assets/Assets_new/logo2.png" alt="">
      </div>
      <div class="text">
        <p>Welcome to CONO</p>
        <p>helping you to order coffee</p>
      </div>
      <form (ngSubmit)="login()" class="box-inp" [formGroup]="LoginForm">
        <label>USERNAME</label>
        <input type="text" name="username" id="username" placeholder="username" formControlName="username" required>
        <label>PASSWORD</label>
        <input type="password" name="password" id="password" placeholder="password" formControlName="password" required>
        <button class="bnt-login mobile" [disabled]="!LoginForm.valid">LOGIN</button>
      </form>
    </div>
  </section>
  <ngx-spinner></ngx-spinner>