// .tablet {
//     display: block;
//   }
  
//   .mobile {
//     display: none;
//   }
  
//   @media all and (max-width:767px) {
//     .tablet {
//       display: none;
//     }
  
//     .mobile {
//       display: block;
//     }
//   }
  
  .row {
    width: 100%;
    // height: 170px;
    padding: 10px;
    margin: 0;
  }
  
  .row>.col-md-1 {
    height: 100%;
    padding: 0
  }
  
  .col-md-1>.img {
    width: 45%;
    height: 100%;
    overflow: hidden;
  }
  
  .col-md-1 .img>img {
    width: 100%;
  }
  
  .col-md-1>.noti {
    width: 55%;
    height: 100%;
  }
  
  .col-md-1>div {
    float: left;
  }
  
  .col-md-1 .noti {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    i{
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  
  .noti p:nth-child(1) {
    font-family: 'Alina';
    font-size: 15pt;
    margin: 0;
    color: #74572D;
  }
  
  .noti p:nth-child(2) {
    font-family: 'Novencentosans';
    color: #422912;
  }
  
  .display {
    width: 40px;
    height: 40px;
    border-top: 0.5pt solid #c8b496;
    border-bottom: 0.5pt solid #c8b496;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }
  
  .quantum>li {
    float: left;
    // 
  }
  
  .quantum .display {
    background: #ffffff;
  }
  
  .quantum li nav>button {
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    font-size: 12pt;
    // background-color: #ffffff;
    border: 0.5pt solid #c8b496;
    color: #6c6c6c;
    background-color: white;
  
  }
  
  // .tablet {
  //   display: inline;
  //   margin: 5%;
  //   justify-content: space-around;
  
  //   .col-md-4 {
  //     display: inline-block;
  //     width: 30%;
  //     margin: 1%;
  //     padding: 0;
  //     height: 150px;
  //     border: 1px solid;
  //     background-color: white;
  
  //     .noti {
  //       width: 50%;
  //       height: 100%;
  //       text-align: center;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       float: right;
  
  //     }
  //   }
  // }
  .tablet{
    width: 100%;
  }
  .t_main {
    width: 30%;
    height: 160px;
    background-color: #ffffff;
    margin: 1% 1%;
    box-shadow: 0px 2px 10px #888888;
    float: left;
  }
  
  .t_img {
    width: 50%;
    height: 100%;
    float: left;
  }
  
  .t_img>img {
    width: 100%;
    height: 100%;
  }
  
  .t_noti {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    flex-direction: column;
  }
  
  .t_quatum {
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
  
    button {
      width: 16%;
    }
    nav{
      width: 15%;
      height: 100%;
      border: 1px solid;
    }
  }
  
  
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
  
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
  .openMenu {
    position: absolute;
    right: 0;
  }
  
  .disqua {
    width: 72%;
    height: 20px;
    border: 1px solid;
  }
  .item p:nth-child(2){
    font-size: 12pt;
  }
  // .btnitem > div{
  //   float: right;
  // }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // max-width: 100px;
  }  

  .detailbtn {
    background-color: #422912;
    color: white;
    width: 100px;
    padding: 7px;
    font-size: 1.5em;
    border: none;
    border-radius: 18px;
    font-family: Poppins;
  }
  .itemProduct{
    display: flex;
    // justify-content: center;
    padding: 0;
    .noti{
      display: flex;
      justify-content: center;
      align-items: center;
      ul{
        text-align: center;
      }
    }
  }