<div style="background:white " class="row mobile">
  <div class="col-md-12 itemProduct">
     
    <div style="width: 50%;" class="img">
      <img style="width: 100%" src="{{imageProduct}}" alt="">
    </div>
    <div style="width: 50%;" class="noti">
        <!-- <i class="fas fa-times" (click)="deleteProduct(idProduct)"></i> -->
      <ul>
        <li>
          
          <div class="item">
            <p>{{nameProduct}}</p>
            <p>{{priceProduct}} VNĐ</p>
            <p class="textinfo" style="font-family: Poppins;">{{product.ProductInfo}}</p>
          </div>
        </li>
        <li>
        </li>
        <li>
          
          <br>
          <button class="detailbtn" (click)='detail(product)'>Detail</button>
          <!-- <button class="detailbtn" (click)='detail(product)'>Edit</button> -->
        </li>
      </ul>
    </div>
  </div>
</div>
