<header class="header">
  <i (click)='backTable()' class="i1 fas fa-long-arrow-alt-left fa-2x"></i>
  <p>TABLE</p>
  <button (click)='logout()' class="logout" ><i class="fas fa-sign-out-alt fa-2x fa-rotate-180"></i></button>
</header>
<table class="table" style="margin-top:55px ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <!-- <th scope="col">Giá</th> -->
        <th scope="col">Chỉnh sửa</th>
        <th scope="col">Xóa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ban of danhsachban">
        <th>{{ban.TableId}}</th>
        <td>{{ban.TableName}}</td>
        <!-- <td>{{product.ProductPrice}}</td> -->
        <td><i class="far fa-edit" (click)="share(ban)" data-toggle="modal" data-target="#myModal"></i></td>
        <td><i class="far fa-trash-alt" (click)="deleteTable(ban.TableId)"></i></td>
      </tr>
    </tbody>
  </table>
  


<div class="ask">
  <div class="askdialog">
    <h2>DO YOU WANT TO <br>LOGOUT?</h2>
    <button class="yes" (click)="yes()">Yes</button>
    <button class="no" (click)="no()">No</button>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Chỉnh sửa bàn</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input style="width: 100%;" type="text" name="" id="nametable" placeholder="mời nhập tên bàn">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="editTable()">Chỉnh sửa</button>
        </div>
      </div>
  
    </div>
  </div>