.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    z-index: 99;
    background-color: #422912;
    i{
      color: white;
    }
    .logout {
    //   position: absolute;
      top: 10%;
      right: 3%;
      border-radius: 50%;
      background: rgb(167, 109, 35);
      padding: 2.5%;
      @media (max-width:1367px)and(min-width:720px) {
          padding: .5%;
      }
      border: 1px solid white;
      color: white;
      border: none;
    }
    .logout:active {
      animation: 2s mbounce;
    }
    p {
        color: white;
        font-size: 17px;
        font-family: Poppins;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 0px;
        margin: 0px;
    }
    .bell {
    //   margin: 5%;

      color: white;
    }
  }
 
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ask {
  position: fixed;
  top: 8%;
  right: 0;
  width: 100%;
  height: 100%;
  // opacity: .5;
  background-color: rgba(
    182,
    182,
    182,
    0.6
  ); // rbga cho phép vài thuộc tính hay như 0.5 phía cuối là opacity thay opacity sẽ ảnh hưởng đến child.
  .askdialog {
    box-shadow: 0px 2px 10px #888888;
    position: absolute;
    width: 69%;
    height: 20%;
    background-image: radial-gradient(rgb(182, 137, 74), rgb(202, 159, 94), rgb(228, 188, 129));
    opacity: 1;
    top: 25%;
    left: 16%;
    border-radius: 25px;
    text-align: center;
    h2 {
      text-align: center;
      font-family: Poppins;
      margin-top: 2%;
      color: white;
    }
    button {
      padding: 4% 12%;
      margin: 4% 6%;
      background-color: #9b622d;
      color: white;
      font-family: Poppins;
      border: none;
      border-radius: 15px;
      font-size: 1.3em;
    }
    button:active {
      animation: 2s bounce;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.96);
  }
  20% {
    transform: scale(1.04);
  }
  52% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mbounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(2);
  }
  52% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
