header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 55px;
    background-color: #422912;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        
        color: white;
        font-size: 17px;
        font-family: Poppins;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 0px;
        margin: 0px;
    }
    .i2{
        // position: absolute;
        // top: 12px;
        // right: 16.53px;
        color: white;
        font-size: 20px;
    }
    .i1{
        // position: absolute;
        // top: 12px;
        // left: 33px;
        font-size:15px; 
        color: white;
    }
}
.table{
    margin-top: 55px;
}
.createProduct{
    input{
        width: 100%;
    }
}
footer{
    height: 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: Poppins;
    background-color: #C8B496;
    font-weight: bold;
    letter-spacing: 4px;;
}