//Tablet
.tablet {
  display: block;
  background-color: #777;
  height: 100vh;
  width: 100%;
}
.t_main {
  width: 92%;
  height: 100%;
  background-color: #f5f6fa;
  float: right;
  .t_row {
    width: 100%;
    display: block;
    margin: 2%;
    // box-sizing: border-box;
    .t_tab {
      width: 26%;
      // margin: 0px auto 5% auto;
      // widows: 100px;
    }
  }
}
.t_footer {
  width: 8%;
  height: 100%;
  background-color: darkcyan;
  height: 100%;
  float: left;
  app-bottom-detail {
    height: 100%;
    width: 100%;
  }
}

//Mobile

input,
button:focus {
  outline: none;
}
.btnTable > button {
  background-color: white;
  border: none;
  margin-left: 8px;
  font-size: 80%;
}
.mobile {
  animation: 0.5s fadein;
}
:host {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    z-index: 99;
    background-color: #422912;
    .logout {
    //   position: absolute;
      top: 10%;
      right: 3%;
      border-radius: 50%;
      background: rgb(167, 109, 35);
      padding: 2.5%;
      @media (max-width:1367px)and(min-width:720px) {
          padding: .5%;
      }
      border: 1px solid white;
      color: white;
      border: none;
    }
    .logout:active {
      animation: 2s mbounce;
    }
    p {
        color: white;
        font-size: 17px;
        font-family: Poppins;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 0px;
        margin: 0px;
    }
    .bell {
    //   margin: 5%;

      color: white;
    }
  }
  .main {
    position: relative;
    // height: 552px;
    top: 55px;
    display: flex;
    margin: 0 3%;
    flex-direction: column;
    section {
      // display: flex;
      margin: 4% 0;
      h3 {
        flex: 3;
        padding: 0px;
        font-size: 110%;
        display: inline;
        font-weight: 700;
        font-family: Poppins;
        color: #422912;
      }
      .btn {
        flex: 1;
        .i2 {
          margin-left: 16px;
        }
      }
    }
    .row {
      box-sizing: border-box;
      .tab {
        margin: 0px auto 5% auto;
        // widows: 100px;
      }
      .color {
        background-color: #b3b3b3;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 55px;
    box-shadow: 0 -25px 100px -15px #777;
  }
}
.display {
  // height: 36px;
  margin: 0;
}
.row {
  margin-bottom: 55px;
  // display: none;
}
.option{
  text-align: center;
  li{
    padding: 7px;
  }
}
.btnTable {
  display: inline;
  float: right;
}

// animation: 2s  fadein;
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ask {
  position: fixed;
  top: 8%;
  right: 0;
  width: 100%;
  height: 100%;
  // opacity: .5;
  background-color: rgba(
    182,
    182,
    182,
    0.6
  ); // rbga cho phép vài thuộc tính hay như 0.5 phía cuối là opacity thay opacity sẽ ảnh hưởng đến child.
  .askdialog {
    box-shadow: 0px 2px 10px #888888;
    position: absolute;
    width: 69%;
    height: 20%;
    background-image: radial-gradient(rgb(182, 137, 74), rgb(202, 159, 94), rgb(228, 188, 129));
    opacity: 1;
    top: 25%;
    left: 16%;
    border-radius: 25px;
    text-align: center;
    h2 {
      text-align: center;
      font-family: Poppins;
      margin-top: 2%;
      color: white;
    }
    button {
      padding: 4% 12%;
      margin: 4% 6%;
      background-color: #9b622d;
      color: white;
      font-family: Poppins;
      border: none;
      border-radius: 15px;
      font-size: 1.3em;
    }
    button:active {
      animation: 2s bounce;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.96);
  }
  20% {
    transform: scale(1.04);
  }
  52% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mbounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(2);
  }
  52% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
