<!-- Tablet -->

<!-- <div class="tablet">
  <h2>Table List</h2>
  <main class="t_main">
    <div class="t_row" >
      <app-tab 
      *ngFor = "let item of table"
      class = "t_tab" 
      (click) = 'selectTable(item)'
      [nameTab] = 'item.NameTable'
      [idTab] = 'item.IdTable'
      [statTab] = 'item.StatusTable'
      [nameCus] = 'item.NameCus'
      [orderTab] = 'item.Order'
      ></app-tab>
    </div>
  </main>
  <footer class="t_footer">
      <app-bottom-detail></app-bottom-detail>
  </footer>
</div> -->

<!-- Mobile -->
<div class="mobile">
  <header class="header">
    <i class="far fa-bell fa-2x bell" (click)="thongke()"></i>
    <p>TABLE</p>
    <button class="logout" (click)='logout()'><i class="fas fa-sign-out-alt fa-2x fa-rotate-180"></i></button>
  </header>

  <main class="main">
    <section class="display section">
      <h3>Display</h3>
      <div class="btnTable">
        <button type="button" (click)="showtable()">Show Table</button>
        <button type="button" data-toggle="modal" data-target="#myModal">add Table</button>
        <button class="grid"><i class="fas fa-th-large fa-2x" (click)="isGrid = true"></i></button>
        <button class="list"><i class="i2 far fa-square fa-2x" (click)="isGrid = false"></i></button>
      </div>
    </section>
    <div class="row">
      <app-tab *ngFor="let item of table" class="tab" [ngClass]="isGrid ? 'col-sm-6 col-6' : 'col-sm-12 col-12'"
        (click)='selectTable(item)' [nameTab]='item.NameTable' [idTab]='item.IdTable' [statTab]='item.StatusTable'
        [nameCus]='item.NameCus' [orderTab]='item.Order'></app-tab>
    </div>
  </main>
  <footer class="footer">
    <app-bottom-detail></app-bottom-detail>
  </footer>
  <div class="ask">
    <div class="askdialog">
      <h2>DO YOU WANT TO <br>LOGOUT?</h2>
      <button class="yes" (click)="yes()">Yes</button>
      <button class="no" (click)="no()">No</button>
    </div>
  </div>
</div>

<div class="modal fade" id="optionStore" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nội dung</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <ul class="option">
          <li (click)="thongke()">Thống kê</li>
          <li>Sản phẩm</li>
          <li>Nhân viên</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Thêm bàn</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <input style="width: 100%;" type="text" name="" id="nametable" placeholder="mời nhập bàn">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="themban()">Thêm</button>
      </div>
    </div>

  </div>
</div>
<div id="showlist" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
  
          <h4 class="modal-title">Thêm bàn</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input style="width: 100%;" type="text" name="" id="nametable" placeholder="mời nhập bàn">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="themban()">Thêm</button>
        </div>
      </div>
  
    </div>
  </div>