input, button:focus{
    outline: none;
}

@font-face{
    font-family: 'iCiel';
    src: url('../../assets/fonts/Nabila.ttf');
    font-style: normal;
    font-weight: 100;
}
.login{
    margin: 5%;
}

.text-content > p:nth-child(1){
  font-family: 'iCiel';
  font-size: 2.2em;
}
.text-content > p:nth-child(2){
    font-size: 1.6em;
}
a{
    color:#ffffff;
}
.text-content{
    text-align: center;
    width: 100%;
    margin-top:12%;
    color: #422912;
}
.img{
    width: 108%;
    height: auto;
}
.img > img {
    width: 101%;
    height: 411%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.bnt-login{
    width: 76%;
    margin: 12%;
    padding: 4%;
    border: 0px;
    border-radius: 22pt;
    color: #ffffff;
    background-color: #422912;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.mobile{
    animation: 2s fadein;
}

// animation: 2s  fadein;
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}