<!-- <p>
  auth works!
</p> -->
<section class="login mobile">
  <div class="content">
    <div class="img">
      <img src="../../assets/Assets_new/coffe illus.png" alt="">
    </div>
    <div class="text-content">
      <p>The best coffee for best you!</p>
      <p>Helping you to order and prepare <br> coffee easily</p>
      <button class="bnt-login" routerLink ="login">LET'S GO</button>
    </div>
   
  </div>
</section>