.order{
    width: 100%;
    background-color: #f2f2f8;
}
.order .nameTable{
    width: 100%;
    height: 140pt;
    background-color: #c8b496;
}
.order .chooseItem{
    width: 100%;
    height: 102pt;
    background-color: #ebebeb;
}