// Tablet
.tablet{
    width: 30%;
    height: 315px;
    background-color: #ffffff;
    margin: 0 1%;
    box-shadow: 0px 2px 10px #888888;
    // float: left;
    section{
        .content{
            padding: 3% 0;
            margin: 0 3%;
            border-bottom: 1px solid;
            h3{
                display: inline;
                text-transform: uppercase;
                color: #422912;
                // font-family: 'Poppins';
            }
            .nameCus{
                float: right;
                padding: 1% 2%;
                background-color: #422912;
                color:#ffffff;
                border: 1px solid #422912;
                border-radius: 20px;
            }
        }
        .itemList{
            // margin: 0 3%;
            padding: 0 8%;
            height: 200px;
            overflow: scroll;
            border-bottom: 1px solid;
           
            li{
                font-size: 14pt;
                list-style-image: url('../../../../assets/img/circle-shape-outline.png');
                // list-style-type: circle;
                font-family: 'Poppins';
                color: #31394D;
                p{
                    float: right;
                }
            }
        }
        .step{
            width: 100%;
            height: 71px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon{
                width: 52px;
                height: 50px;
                text-align: center;
                border: 1px solid;
                border-radius: 55px;
                background-color: #422912;
                img{
                    width: 60%;
                    height: 82%;
                }
            }
        }
    }
    
   
}
// Mobie
.mobile
{
    width: 100%;
    height: 100px;
    color: white;
    font-family: Poppins;
    border-radius: 5px 5px 5px 5px;
    .off{
        border-radius: 10px;
        background-color: rgb(245, 245, 245);
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 80px #888888;
        .top{
            padding: 0px;
            margin: 0px;
            border-bottom: 0.5px solid #FFFFFF; 
            padding-bottom: 7px; 
            margin: 12px 12px 12px 15px;
            h3{
                font-size: 90%;
                float: left;
                padding: 0px;
                margin: 0px;
            }
            p{
                float: right;
                color: #FF8B10;
                font-size: 10px;
                padding: 5px 10px 5px 10px;
            }
        }
        button{
            margin: 0 auto;
            width: 81px;
            height: 25px;
            background-color: #422912;
            border: none;
            border-radius: 15px;
            color: #FFFFFF;
        }
    }

    .on{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #775333;
        height: 100%;
        box-shadow: 5px 5px 80px #888888;
        .top{
            padding: 0px;
            margin: 0px;
            border-bottom: 0.5px solid #FFFFFF; 
            padding-bottom: 7px; 
            margin: 12px 12px 12px 15px;
            h3{
                font-size: 90%;
                float: left;
                padding: 0px;
                margin: 0px;
            }
            .d1{
                border: 1px solid #422912;
                float: right;
                border-radius: 15px;
                background-color: #422912;
                p{
                    font-size: 10px;
                    padding: 5px 10px 5px 10px;
                }
            }
        }
        .bot{
            margin-left: 12px;
            p{
                float: left;
                padding: 0px;
                margin: 0px;
            }
            .d2{
                float: right;
                border: solid 1px #F1FF2E;
                background-color: #F1FF2E;
                p{
                    font-size: 9px;
                    color: #918B85;
                    padding: 9px 26px 9px 26px;
                }
            }
        }
    }
}