<!-- <div class="tablet"></div> -->
<div class="tablet" style="float: left;" *ngIf="orderTab?.length > 0">
  <section>
    <div class="content">
      <h3>{{nameTab}}</h3>
      <div class="nameCus">
        <p>{{nameCus}}</p>
      </div>
    </div>
    
    <div>
      <ul class="itemList">
        <li *ngFor='let item of orderTab'>{{item}} <p>{{quality}}</p></li>
      </ul>
      <div class="step">
        <!-- <p>{{statTab}}</p> -->
        <div class="icon">
          <img src="../../../../assets/img/coffee-icon.png" alt="">
        </div>
        <div class="icon">
          <img src="../../../../assets/img/coffee-icon.png" alt="">
        </div>
        <div class="icon">
          <img src="../../../../assets/img/coffee-icon.png" alt="">
        </div>
      </div>
    </div>
  </section>
</div>

<div class="mobile">
  <section class="off" *ngIf="soluong == 0" style="color: black; padding: 10px;">
    <div class="top">
      <h3>{{nameTab}}</h3>
      <p>Avaliable</p>
    </div>
    <button>Order</button>
  </section>
  
  <section class="on" *ngIf="soluong > 0">
    <div class="top">
      <h3>{{nameTab}}</h3>
      <div class="d1">
          <p>{{nameCus}}</p>
      </div>
    </div>
    
    <div class="bot" style="margin-left: 12px;">
      <p>{{ soluong | number }} Orders</p>
      <!-- <p>{{numproduct}} Orders</p> -->
      <div class="d2">
        <p>{{statTab}}</p>
      </div>
    </div>
  </section>
</div>
