// Bỏ cái link này vào db
// ../../../../../assets/Assets_new/x.png
.list {
  width: 100%;
  height: 85pt;
  // position: relative;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  height: 100%;
  display: inline;
}

.list .menu>.employee {
  width: 21%;
  height: 66%;
  border: 1px solid #6d6565;
  border-radius: 5px;
  float: left;
  margin-left: 3.65%;
  display: flex;
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins';
}

.m_btn {
  overflow: hidden;
  padding: 5% 2%;
  // margin: 5%;
  margin-right: 1%;
  font-family: 'Poppins';
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 1px solid #6d6565;
  width: 17%;
  height: 57%;
  float: left;
  border-radius: 20%;
}

.color{
  background-color: #c8b496;
  border: none;
  outline: none;
}

.employee>p {
  font-size: 8pt;
}

p>img {
  width: 50%;
  height: auto;
}

.color {
  background-color: #C8B496;

  p {
    color: white;
    img {
      // filter:invert(80%);
    }
  }
}

// tablet
.tablet {
  width: 100%;
  height: 100vh;
  background-color: #f5f6fa;
  .t_main{
    width: 90%;
    height: 100vh;
    background-color: #f6f5fa;
    float: right;
  }
  h5 {
    font-size: 36pt;
  }

  .head {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    .btn-primary {
      padding: 1%;
      margin: 5% 0;
      margin-right: 3%;
      font-family: 'Poppins';
      background-image: linear-gradient(to bottom, #c8b496, #422912);
      background-attachment: fixed;
      background-repeat: no-repeat;
      border: 1px solid #6d6565;
    }
  }
  .t_footer{
    width: 8%;
    position: fixed;
    background-color: darkcyan;
    height: 100%;
    float: left;
    app-bottom-detail{
        height: 100%;
        width: 100%;
    }
  }
}

