.mobile {
    animation: 3s ease-out fadein;
    text-align: center;
    padding: 50% 0;
    .m_logo {
        margin: auto;
    }
}

// @keyframes slideInFromLeft {
//     0% {
//     //   transform: translateY(-100%);
//     }
//     100% {
//     //   transform: translateY(0);
//     }
//   }

// animation: 1s ease-out 0s 1 fadein;
@keyframes fadein {
    0%   { opacity:0; }
    10%  { opacity:.4; }
    20%  { opacity:.8; }
    30%  { opacity:1; }
    40%  { opacity:1; }
    50%  { opacity:1; }
    60%  { opacity:1; }
    70%  { opacity:1; }
    80%  { opacity:.8; }
    90%  { opacity:.4; }
    100% { opacity:0; }
}

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//     0%   { opacity:0; }
//     50%  { opacity:1; }
//     100% { opacity:0; }
// }