<!-- Tablet -->
<!-- <div class="tablet">
    <div class="t_user">
        <img src="../../../assets/img/cafe-mocha.jpg">
    </div>
    <div class="t_icon">
      
        <div class="t_icon_i">
            <i class="it fas fa-shopping-cart fa-2x"></i>
            <i class="it fas fa-coffee fa-2x"></i>
            <i class="it fas fa-user fa-2x"></i>
            <i class="it fas fa-cog fa-2x"></i>
        </div>
    </div>
    <div class="t_signout">
        <i class="fas fa-sign-out-alt fa-2x"></i>
    </div>
</div> -->

<!-- Mobile -->
<div class="mobile">
    <i class="i" (click)='productlist()'></i>
    <i class="i" (click)='table()'></i>
    <i class="i" (click)='user()'></i>
</div>
