.tablet{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    .t_user{
        width: 100%;
        height: 10%;
        img{
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin: 18% 27%
        }
    }
    .t_icon{
        position: relative;
        width: 100%;
        height: 80%;
        // background-color: yellow;
        .t_icon_i{
            width: 100%;
            // margin-top: 100%;
            position: absolute;
            top: 22%;
            // background-color: red !important;
           i{
               height: 70px;
               display: block;
               padding: 23% 39%;
               color: #B8C5D3;
            //    margin-left: 21%;
           }
        }
    }
    .t_signout{
        width: 100%;
        height: 10%;
        .fa-sign-out-alt{
            background-color: #DC4E41;
            padding: 13%;
            margin: 11% 25%;
            color: white;
            border-radius: 50%;
        }
    }
}
.color{
    background-color: #F1FF2E;
    box-shadow: 0 0 20px #888888;
    color: #422912 !important;
}

.mobile{
    display: flex;
    width: 100%;
    height: 100%;
    i{
        margin-top: 0;
    }
}
:host{
    flex: 3;
    text-align: center;
    width: 100%;
    .i{
        flex: 3;
        text-align: center;
    }
}

.color2{
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0 0 20px #888888;
    color: #422912 !important;
}

.mobile > i:nth-child(1){
    background: white url(../../../assets/Assets_new/coffee_nut.png) center no-repeat;
    transform: scale(1.3);
}

.mobile > i:nth-child(2){
    background: white url(../../../assets/Assets_new/order.png) center no-repeat;
    transform: scale(1.3);
}
.mobile > i:nth-child(3){
    background: white url(../../../assets/Assets_new/user_color.png) center no-repeat;
    transform: scale(1.3);
}

.i:active {
    animation: 5s bounce !important;
    filter: grayscale(100%);
}

@keyframes bounce {
    0% {
        transform: scale(1);
      }
      10% {
        transform: scale(.8);
      }
      20% {
        transform: scale(1.5);
      }
      52% {
         transform: scale(.8);
      }
      100% {
        transform: scale(1);
      }
  }