<section class="list mobile" (click) = select()>
  <button (click)='selectedType(listitem)' type="button" *ngFor='let listitem of listType; let i=index; first as isFirst' [class.color]="isFirst" class="m_btn click mobile">
    <p> <img src="{{listitem.TypeProductIcon}}"><br> {{listitem.TypeProductName}}</p>
  </button>
</section>





<!-- (click)='onSelect(item)'  -->
<app-menutablist class="mobile pro" *ngFor='let item of listItemById' [TypeProductId]="item.TypeProductId" [product]="item" [nameProduct]='item.ProductName' [priceProduct]='item.ProductPrice' [imageProduct]='item.ProductImage'
  [idProduct]='item.ProductId'></app-menutablist>
