<section class="home">
  <div class="mobile">
    <header>
      <i (click)="allProduct()" class="fab fa-product-hunt i2"></i>
      <p>MENU</p>
      <button class="logout" (click)='logout()'><i class="fas fa-sign-out-alt fa-2x fa-rotate-180"></i></button>
      <!-- <i class="fas fa-plus i2" data-toggle="modal" data-target="#myModal"></i> -->
    </header>
    <main>
      <section class="chooselist">
        <app-chooselistproduct></app-chooselistproduct>
      </section>
    </main>
    <footer class="footer">
      <app-bottom-detail></app-bottom-detail>
    </footer>
  </div>
  <!-- tablet -->
</section>
<div id="myModalProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sản phẩm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Giá</th>
              <th scope="col">Xóa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of listProduct">
              <th>{{product.ProductId}}</th>
              <td>{{product.ProductName}}</td>
              <td>{{product.ProductPrice}}</td>
              <td><i class="far fa-trash-alt" (click)="deleteProduct(product.ProductId)"></i></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button (click)="add()" type="button" class="btn btn-default" data-dismiss="modal">Thêm</button> -->
      </div>
    </div>

  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm sản phẩm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]='ahihi' class="createProduct">
          <label for="ten">Tên sản phẩm</label>
          <input type="text" name="" id="ten" formControlName="ten">
          <label for="gia">Giá sản phẩm</label>
          <input type="text" name="" id="gia" formControlName="gia">
          <label for="loai">Loại</label>
          <input type="text" name="" id="loai" formControlName="loai">
        </form>
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Chọn file hình ảnh</h5>
              <input type="file" (change)="upload($event)" accept=".png,.jpg" />
              <br><br>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                  [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <br>
              <br>
              <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
                <button type="button" class="btn btn-primary" (click)="task.pause()"
                  [disabled]="state === 'paused'">Pause</button>
                <button type="button" class="btn btn-primary" (click)="task.cancel()"
                  [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="task.resume()"
                  [disabled]="state === 'running'">Resume</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="add()" type="button" class="btn btn-default" data-dismiss="modal">Thêm</button>
      </div>
    </div>

  </div>
</div>


<div class="ask">
  <div class="askdialog">
    <h2>DO YOU WANT TO <br>LOGOUT?</h2>
    <button class="yes" (click)="yes()">Yes</button>
    <button class="no" (click)="no()">No</button>
  </div>
</div>
