// @font-face{
//     font-family: 'Alina';
//     src: url('../../../assets/fonts/iCielAlina.otf');
//     font-style: normal;
//     font-weight: 100;
// }
.home{
    background-color: #f2f2f8;
    animation: .5s fadein;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 55px;
    background-color: #422912;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        
        color: white;
        font-size: 17px;
        font-family: Poppins;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 0px;
        margin: 0px;
    }
    .i2{
        // position: absolute;
        // top: 12px;
        // right: 16.53px;
        color: white;
        font-size: 20px;
    }
    .i1{
        // position: absolute;
        // top: 12px;
        // left: 33px;
        font-size:15px; 
        color: white;
    }
}
.noti{
    width: 100%;
    background-color: #c8b496;
    color: white;
    padding-top: 15px
}
main{
    margin-bottom: 55px;
}
.grid{
    margin-bottom:55px ;
}
.createBill{
    display: flex;
    
}
footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #422912;
    z-index: 99;
    display: flex;
    justify-content:space-between;
}
.show{
    width: 100%;
    position: fixed;
    bottom: 60px;
    transition: 1s all ease-in-out;
}
.notshow{
    width: 100%;
    position: fixed;
    bottom: -500px;
    transition: 1s all ease-in-out;
}
.order{
    // float: right;
    height: 100%;
    padding: 0 12%;
    background-color: #c8b496;
    border: 1.5px solid #422912;
    font-family: 'Poppins';
    color: #ffffff;
    font-size: 12pt;
}
.close-bill{
    position: fixed;
    z-index: 99;
    bottom: 200px;
    right: 0px;
}
.cart{
    display: flex;
    align-items: center;
    position: relative;
    p{
        position: absolute;
        top: 0;
        background-color: white;
        color: #422912 !important;
        right: -36px;
        padding: 3px 10px;
        border: 1px solid;
        border-radius: 22px;
    }
}
.billOut{
    height: 500px;
    // position: relative;
}
.btnup{
    padding: 0 8px;
    background: no-repeat;
    border: none;
}
.modal-content{
    position: relative;
    bottom: -122px;
    // top: 120px;
    // margin: 150px auto 0;
    padding: 40px;
    // max-width: 60%;
    height: auto;
    background-color: rgb(248, 250, 247);
    border: 1px solid #BEBEBE;
    // opacity: 0;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}
.logout {
    //   position: absolute;
      top: 10%;
      right: 3%;
      border-radius: 50%;
      background: rgb(167, 109, 35);
      padding: 2.5%;
      @media (max-width:1367px)and(min-width:720px) {
          padding: .5%;
      }
      border: 1px solid white;
      color: white;
      border: none;
    }
    .logout:active {
      animation: 2s mbounce;
    }
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 55px;
    box-shadow: 0 -25px 100px -15px #777;
}
.createProduct{
    input{
        width: 100%;
        border: unset;
    }
}
// animation: 2s  fadein;
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .ask {
    position: fixed;
    top: 8%;
    right: 0;
    width: 100%;
    height: 100%;
    // opacity: .5;
    background-color: rgba(
      182,
      182,
      182,
      0.6
    ); // rbga cho phép vài thuộc tính hay như 0.5 phía cuối là opacity thay opacity sẽ ảnh hưởng đến child.
    .askdialog {
      box-shadow: 0px 2px 10px #888888;
      position: absolute;
      width: 69%;
      height: 20%;
      background-image: radial-gradient(rgb(182, 137, 74), rgb(202, 159, 94), rgb(228, 188, 129));
      opacity: 1;
      top: 25%;
      left: 16%;
      border-radius: 25px;
      text-align: center;
      h2 {
        text-align: center;
        font-family: Poppins;
        margin-top: 2%;
        color: white;
      }
      button {
        padding: 4% 12%;
        margin: 4% 6%;
        background-color: #9b622d;
        color: white;
        font-family: Poppins;
        border: none;
        border-radius: 15px;
        font-size: 1.3em;
      }
      button:active {
        animation: 2s bounce;
      }
    }
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.96);
    }
    20% {
      transform: scale(1.04);
    }
    52% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes mbounce {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.8);
    }
    20% {
      transform: scale(2);
    }
    52% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  


  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.96);
    }
    20% {
      transform: scale(1.04);
    }
    52% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes mbounce {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.8);
    }
    20% {
      transform: scale(2);
    }
    52% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  