<div class="row ">
  <div class="ahihi col-md-12">
    <div style="width: 50%" class="img">
      <img src="{{imageProduct}}" alt="">
    </div>
    <div style="width: 50%;" class="noti">
      <ul>
        <li>
          <div class="item">
            <p>{{nameProduct}}</p>
            <p>{{priceProduct}} VNĐ</p>
          </div>
        </li>
        <li>
          <ul class="quantum">
            <li>
              <nav><button (click)="onRemoveFromBill()">-</button></nav>
            </li>
            <li>
              <nav class="display">{{count}}</nav>
            </li>
            <li>
              <nav><button (click)="onAddToBill()">+</button></nav>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
