<header>
  <i class="fas fa-long-arrow-alt-left fa-2x" (click)='home()'></i>
  <p>{{detailProduct.ProductName | uppercase}}</p>
</header>

<main>
  <section class="img">
    <img src="{{detailProduct.ProductImage}}" alt="" >
  </section>

  <section class="content">
    <h3>{{detailProduct.ProductName | uppercase}}</h3>
    <p style="overflow-wrap: break-word; 
              font-size: 1.4em;
              font-family: Poppins;"
    >{{detailProduct.ProductInfo}}</p>
  </section>
</main>

<footer>
</footer>