:host{
    animation: 1s  fadein;
    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 55px;
        z-index: 99;
        background-color: #422912;
        p{
            position: absolute;
            top: 12px;
            right: 130px;
            color: white;
            font-size: 15pt;
            font-family: Poppins;
            font-weight: bold;
            letter-spacing: 4px;
            padding: 0px;
            margin: 0px;
        }
        i{
            position: absolute;
            top: 12px;
            left: 33px;
            color: white;
        }
    }
    main{
        position: relative;
        top: 55px;
        
        .img{
            width: 100%;
            height: 375px;
        }
        .img > img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }

        .content{
            padding: 22px 20px;
            h3{
                color: #422912;
                font-family: Poppins;
                font-weight: 1000;
                margin: 0 0 10px 0;
                font-size: 2.4em;
                letter-spacing: .1em;
            }
            P{
                color: #727272;
            }
            .p1{
                font-family: Poppins;
                font-size: 12pt;
                margin-bottom: 5px;
            }
            .p2{
                font-family: Poppins;
                font-size: 12pt;
            }
        }

    }
}

.pdetail {
    widows: 100px;
}

// animation: 2s  fadein;
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

