:host{
  animation: .5s fadein;
  
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 99;
    background-color: #422912;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 12px;
    .i1{
      // position: absolute;
      // left: 33px;
    }
    .logout{
        margin: 3%;
        background: none;
        padding: 2%;
        border: 1px solid white;
        color: white;
    }
    p{
        // position: absolute;
        // top: 15px;
        // right: 156px;
        color: white;
        font-size: 17px;
        font-family: Poppins;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 0px;
        margin: 0px;
    }
    i{
        // position: absolute;
        // top: 12px;
        right: 16.53px;
        color: white;
    }
}
.row {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    margin-top: 15%;
    margin-bottom: 25%;
    // background: #f5f6fa;
  }
  
  .row>.col-md-1 {
    height: 100%;
    margin-bottom: 10px;
    height: 170px;
    padding: 0
  }
  
  .col-md-1>.img {
    width: 45%;
    height: 100%;
    overflow: hidden;
  }
  
  .col-md-1 .img>img {
    width: 100%;
  }
  
  .col-md-1>.noti {
    width: 55%;
    height: 100%;
  }
  
  .col-md-1>div {
    float: left;
  }
  
  .col-md-1 .noti {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
  }
  
  .noti p:nth-child(1) {
    font-family: 'Alina';
    font-size: 15pt;
    margin: 0;
    text-align: center;
    color: #74572D;
  }
  
  .noti p:nth-child(2) {
    font-family: 'Novencentosans';
    color: #422912;
    font-size: 12pt;
  }
  
  .display {
    width: 40px;
    height: 40px;
    border-top: 0.5pt solid #c8b496;
    border-bottom: 0.5pt solid #c8b496;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }
  
  .quantum>li {
    float: left;
    // 
  }
  
  .quantum .display {
    background: #ffffff;
  }
  
  .quantum li nav>button {
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    font-size: 12pt;
    // background-color: #ffffff;
    border: 0.5pt solid #c8b496;
    color: #6c6c6c;
    background-color: white;
  
  }
  .quantityItem{
    font-size: 20pt;
    text-align: center;
    width: 40px;
    border: 1px solid #c8b496;
  }
  .showquantity{
    display: flex;
    justify-content: center;
  }
  footer{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    justify-content: center;
    .pay{
      font-size: 14pt;
      padding: 2% 30%;
      color: white;
      border: 0.5px solid #422912;
      background-color: #422912;
      border-radius: 45px;
      margin: 12% auto;
    }
  }

  // animation: 2s  fadein;
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.itemProduct{
  display: flex;
  .noti{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}