<header class="header">
  <i class="i1 fas fa-long-arrow-alt-left fa-2x" (click)='home()'></i>
  <p>TABLE</p>
  <i class="far fa-bell fa-2x"></i>
  <!-- <button class="logout" (click)='logout()'>Logout</button> -->
</header>
<body>
  <!-- <p *ngFor="let item of listbill">{{item}}</p> -->
  <div class="row mobile">
    <div class="col-md-12 itemProduct"  style="margin-bottom: 3%;" *ngFor="let item of listbill">
      <div style="width:50%" class="img">
        <img style="width: 100%;" src="{{item.product.ProductImage}}" alt="">
      </div>
      <div style="width:50%" class="noti">
        <ul>
          <li >
            <div class="item">
              <p>{{item.product.ProductName}}</p>
              <p>{{item.product.ProductPrice}} VNĐ</p>
            </div>
          </li>
          <li class="showquantity"><nav class="quantityItem">{{item.quantity}}</nav></li>
        </ul>
      </div>
    </div>
  </div>
</body>
<footer>
  <button class="pay" (click)="thanhtoan()">DONE</button>
</footer>
