<header class="header">
  <i class="i1 fas fa-long-arrow-alt-left fa-2x" (click)="back()"></i>
  <p>BILL TOTAL</p>
  <button class="logout" (click)='logout()'><i class="fas fa-sign-out-alt fa-2x fa-rotate-180"></i></button>
</header>
<!-- <footer style="height: 55px" class="footer">
  <app-bottom-detail></app-bottom-detail>
</footer> -->
<section class="bill">
  <div class="showItemBill">
    <button style="background-color: #212529; border:#C8B496" type="button" class="btn btn-info btn-lg"
      data-toggle="modal" data-target="#myModal">Xem chi tiết</button>
  </div>

  <!-- <button (click)="setDay()">ahihi</button> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Phone</th>
        <th scope="col">Price</th>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of listBill">
        <th scope="row">{{bill.BillOutId}}</th>
        <td>{{bill.CustomerPhone}}</td>
        <td>{{bill.BillPriceTotal}}</td>
        <td (click)="showBill(bill.BillOutId)">Items</td>
      </tr>
    </tbody>
  </table>
</section>
<footer width="100%">
  <div class="row sumMoney">
    <div class="col-6">SUM</div>
    <div class="col-6">{{totalMoney}}đ</div>
  </div>
</footer>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Xem chi tiết</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dataInput" class="formDate">
          <!-- <input formControlName='getCurent' type="date" name="" id="" [(ngModel)]="getday"> -->
          <label for="date">Ngày</label>
          <input formControlName="getDate" type="text" name="" id="date" [(ngModel)]="dataAday.day">
          <label for="mon">Tháng</label>
          <input formControlName="getMonth" type="text" name="" id="mon" [(ngModel)]="dataAday.mon">
          <label for="year">Năm</label>
          <input formControlName="getYear" type="text" name="" id="year" [(ngModel)]="dataAday.year">
          <!-- <button>xem</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showTime()">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="ask">
  <div class="askdialog">
    <h2>DO YOU WANT TO <br>LOGOUT?</h2>
    <button class="yes" (click)="yes()">Yes</button>
    <button class="no" (click)="no()">No</button>
  </div>
</div>
