/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}
ul, li, p{
    padding: 0;
    margin: 0;
    list-style: none;
}
button, input:focus{
    outline:none;
    padding: 0;
}
@font-face{
    font-family: 'Alina';
    src: url('./assets/fonts/iCielAlina.otf');
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'Novencentosans';
    src: url('./assets/fonts/iCielNovecentosans-Normal.otf');
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.otf');
    font-style: normal;
    font-weight: 100;
}
// .tablet{
//     display: block;
// }
// .mobile{
//     display: none;
// }
// @media all and (max-width:767px){
//     .tablet{
//         display: none !important;
//     }
//     .mobile{
//         display: block;
//         overflow-x: hidden;
//     }
// }