<header class="header">
    <i class="i1 fas fa-long-arrow-alt-left fa-2x" (click)="back()"></i>
    <p>BILL TOTAL</p>
    <button class="logout" (click)='logout()'><i class="fas fa-sign-out-alt fa-2x fa-rotate-180"></i></button>
  </header>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ct of showBill">
        <th scope="row">{{ct.ProductId}}</th>
        <td>{{ct.ProductName}}</td>
        <td>{{ct.QuantityProduct}}</td>
        <td>{{ct.ProductPrice}}</td>
        <td>{{ct.QuantityProduct*ct.ProductPrice}}</td>
      </tr>
    </tbody>
  </table>