.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  z-index: 99;
  background-color: #422912;
  .logout {
    //   position: absolute;
    top: 10%;
    right: 3%;
    border-radius: 50%;
    background: rgb(167, 109, 35);
    padding: 2.5%;
    @media (max-width: 1367px) and(min-width:720px) {
      padding: 0.5%;
    }
    border: 1px solid white;
    color: white;
    border: none;
  }
  .logout:active {
    animation: 2s mbounce;
  }
  p {
    color: white;
    font-size: 17px;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 0px;
    margin: 0px;
  }
  .i1 {
    //   margin: 5%;

    color: white;
  }
}
.table {
  margin-top: 55px;
  background: #c8b496 !important;
}
