<div class="tablename" >
  <strong>{{selectedTable?.NameTable | uppercase}}</strong>
  <div class="centent"></div>
</div>
<div class="customer" >
  <strong>CUSTOMER'S PHONE</strong>
  <input (blur)='change()' type="text" id='name' class="name" value=" {{nameCus}}" style="font-size: 2em;">
  <!-- <button style="background-color: #c8b496;" (click)='change()'><h3>Accept</h3></button> -->
</div>