input:focus{
    outline: none;
}
.tablename{
    height: 28px;
    margin-left: 5%;
}
.tablename strong{
    font-size: 20px;
}
.tablename .centent{
    width: 70%;
    height: 50%;
    // background-color: white;
    border-bottom: 1px solid white;
    // height: 1px;
    float: right;
}
.customer{
    width: 100%;
    height: 112px;
    padding: 10px 20px;
    margin-top: 5%;
}
.customer strong{
    font-size: 10px;
    font-family: 'Poppins';
}
.name{
    width: 100%;
    height: 50%;
    margin-top: 2%;
    border: 1px solid #ffffff;
    border-radius:5px ;
    background-color: #c8b496;
}