nav {
  font-size: 14pt;
}

.namefood {
  display: inline;
}

.price {
  float: right;
}

.modal-header>h5 {
  font-size: 20pt;
}

.form-control {
  padding-bottom: 20%;
}

.list-item {
  max-height: 125px;
  overflow: scroll;
}

.modal-content {
  position: relative;
  // bottom: -122px;
  margin: 150px auto 0;
  padding: 5px;
  height: auto;
  background-color: rgb(248, 250, 247);
  border: 1px solid #BEBEBE;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}
