<!-- <p>
  bill works!
</p> -->
<!-- <div class="main">
  <div class="content">
    <div class="head">
      <h3>Your Order</h3>
    </div>
    <ul class="contentBill">
      <li>
        <p>Coffee Mocha</p>
        <p>1 x 65.000 vnđ</p>
      </li>
      <li>
        <p>Coffee Mocha</p>
        <p>1 x 65.000 vnđ</p>
      </li>
    </ul>
    <form>
      <input type="text" name="" id="">
    </form>
  </div>
</div> 
 -->
 <section>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <ul class="list-item" >
          <li  *ngFor="let item of products" >
            <nav *ngIf="item?.quantity >0 " class='namefood'>{{item.product.ProductName}} x {{item.quantity}}</nav>
            <nav  *ngIf="item?.quantity >0 "class="price">{{item.quantity*item.product.price | currency:'VND':'symbol':'1.0-0'}}</nav>
            <!-- item.product.price trong list "products" bên bill.service -->
          </li>
        </ul>
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div>
            <p style="font-size: 2em;">Tổng tiền:</p>
            <p style="font-size: 2em;">{{tongtien| currency:'VND':'symbol':'1.0-0'}}</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button> -->
          </div>
    </div>
  </div>
 </section>
 <!-- <section class="tablet">
   <div class="modal-body">
     <p>Nội dung là đây</p>
   </div>
 </section> -->

 